/*- Typograpy and resets -*/
html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: #fff;
}

h1,
h2 {
  margin-top: 0;
}

h1 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 700;
}

h2 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 400;
}

/*- Card container -*/
.card-container {
  position: relative;
  z-index: 1;
  margin: 32px auto;
  max-width: 720px;
  height: 420px;
  perspective: 1000px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*- Card body -*/
.card-body {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .7s linear;
}

/*- Flipping the card -*/
.card-container:hover .card-body {
  transform: rotateY(180deg);
}

.card-container:hover>.card-body>.side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;
}

/*- Card sides -*/
.card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50, 50, 93, .1), 0 2px 15px rgba(0, 0, 0, .07);
}

/*- Front side -*/
.side-front [class^=col-xs]:first-of-type {
  padding-left: 0;
}

.side-front-content {
  padding-top: 37px;
  padding-right: 32px;
  padding-bottom: 32px;
}

/*- Back side -*/
.side-back {
  z-index: 2;
  padding: 32px;
  text-align: center;
  transform: rotateY(180deg);
}

/*- Form -*/
.card-form {
  margin-top: 32px;
}

.card-form .row+.row,
.card-form .row+fieldset,
.card-form fieldset+fieldset {
  margin-top: 16px;
}

input,
textarea {
  padding: 8px;
  width: 100%;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #eee;
  border-left: 0;

  &:focus {
    outline: 0;
    border-bottom: 1px solid #0c81f6;
  }
}

textarea {
  max-height: 80px;
  resize: vertical;
}

.btn-primary {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #0c81f6;
  border: none;
  box-shadow: 0 10px 35px rgba(50, 50, 93, .1), 0 2px 15px rgba(0, 0, 0, .07);
  transition: background-color .25s ease-in, box-shadow .25s ease-in;

  &:focus,
  &:hover {
    background-color: lighten(#0c81f6, 15%);
    box-shadow: 0 18px 35px rgba(50, 50, 93, .1), 0 8px 15px rgba(0, 0, 0, .07);
  }
}

/*- Social links -*/
.social-links {
  padding: 0;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  list-style-type: none;

  li:nth-of-type(n+2) {
    margin-left: 24px;
  }

  a {
    color: #212121;
    transition: opacity .25s ease-in;

    &:focus,
    &:hover {
      opacity: .5;
    }
  }

  i {
    font-size: 24px;
  }
}